header{
	width: 1000px;
	height:120px;
	background:#444;
	margin:20px auto;
	}
	
nav{
	width: 1000px;
	margin: auto;
	height:48px;
	}
	
	
section{
	width: 300px;
	height:453px;
		margin:auto;
	background:#aaa;
	}
	
	
footer{
	width: 1000px;
	margin:20px auto;
	height:70px;
	background:#888;
	}

.opcion{
	float:left; /*tiene la misma funcionalidad que el inline block*/
	width:196px;
	margin:0px 2px;
	height:48px;
	background:#333;
	list-style:none; /*se retiran las viñetas*/
	}	

#top{
	width: 1000px;
	margin: 20px auto;
	height: 192px;
	position:relative;
	
}

#top ul {
	list-style: none;
}


#top ul li {
	float: left;
	width: 323px;
	height: 192px;
	background: black;
	margin-right: 10px;
}


*{
	margin:0;
	padding:0;
	}


