
 /*NAVBAR*/
@media screen and (max-width:1440px){
    .nav-links{
        width: 60%;
        float:left; /*tiene la misma funcionalidad que el inline block*/
        list-style: none;	
        align-items: center;
    }
    .opcion{
        float:left; /*tiene la misma funcionalidad que el inline block*/
        width:170.66px;	
        list-style:none; /*se retiran las viñetas*/
        position: relative;
        right:160px;
       
       
     }  
     .opcion a{
        text-decoration: none;
        color: #0E5321;
        text-align: center;
        
    
     } 
     
     
}

 /*NAVBAR*/