@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    font-family: "Roboto", sans-serif;

}



/*HEADER*/


.header{ display: flex;
    min-height: 8vh;
    align-items: center;
    background-color: #e05ca5;


}





/*NAVBAR*/


nav{  display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Roboto", sans-serif;
    background-color: #e05ca5;
    padding: 5px;

}
.nav-links{
    float:left; /*tiene la misma funcionalidad que el inline block*/
    list-style: none;	
    align-items: center;	
	}	
	
 .opcion{
    float:left; /*tiene la misma funcionalidad que el inline block*/
	width:196px;	
	list-style:none; /*se retiran las viñetas*/
 }  
 .opcion a{
    text-decoration: none;
    color: white;
    text-align: center;
 } 


 /*NAVBAR*/

